backoff==1.10.0
certifi==2020.12.5
chardet==4.0.0
click==7.1.2
DictObject==1.1.1
Flask==1.1.2
gunicorn==20.0.4
idna==2.10
itsdangerous==1.1.0
Jinja2==2.11.3
libmagic==1.0
luckydonald-utils==0.83
MarkupSafe==1.1.1
pyTelegramBotAPI==3.7.6
pytgbot==5.0.0.1
python-magic==0.4.22
requests==2.25.1
teleflask==1.0.1
urllib3==1.26.4
Werkzeug==1.0.1
